/* 定义自定义字体 JetBrains Mono */
@font-face {
    /* 为自定义字体指定名称，后续可以通过这个名称来引用该字体 */
    font-family: 'YinHeShiJi';
    /* 字体显示策略，swap 表示浏览器会先使用系统默认字体显示文本，等自定义字体加载完成后再替换为自定义字体，避免文本闪烁 */
    font-display: swap;
    /* 指定字体文件的来源，这里使用相对路径指向 AaHuDieXingHuan-YinHeShiJi.ttf 文件，格式为 TrueType */
    src: url('../font/AaHuDieXingHuan-YinHeShiJi.ttf') format("truetype");
}

/* 定义自定义字体 HarmonyOS Sans SC */
@font-face {
    /* 为自定义字体指定名称 */
    font-family: 'Hey-November';
    /* 同样采用 swap 显示策略 */
    font-display: swap;
    /* 指定字体文件的来源，使用相对路径指向 Hey-November.ttf 文件，格式为 TrueType */
    src: url('../font/Hey-November.ttf') format("truetype");  /* https://www.fonts.net.cn/font-38078102672.html */
}

/* 对 body 元素应用字体 */
body {
    /* 设置字体族，优先使用 JetBrains Mono 字体，如果该字体不可用，则使用 HarmonyOS Sans SC 字体 */
    font-family: 'YinHeShiJi','Hey-November';
}